#wrapper {
    width: 100%;
    height: 1000px;
    background-color: #acacac;
}

#chat-room, .mesFrame, .mesDisplay, .mesSend, #editer, #button, .rooms {
    display: flex;
    background-color: #ffffff;
    border-collapse: collapse;
    box-sizing: border-box;
    flex-flow: row;
}

#chat-room {
    width: 800px;
    height: 700px;
    margin: auto;
    margin-top: 100px;
    border: 1px solid #000000;
}

.mesFrame {
    flex: 4;
    flex-flow: column;
}



.mesDisplay {
    height: 600px;
    overflow: auto;
    display: flex;
    flex-flow: column;
}

.mesSend {
    height: 100px;
    border: 4px solid #000000;
}

#editer {
    resize: none;
    width: 100%;
    border: 0px;
}

#button {
    width: 100px;
    color: #000000;
    border-left: 4px solid #000000;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 153, 255);
    cursor: pointer;
}

#button:hover {
    color: #ffffff;
}

#button:active {
    background-color: rgb(46, 43, 255);
}

.rooms {
    flex: 1;
    display: block;
    flex-flow: column;
    border-left: 1px solid #000000;
    margin: 0;
    padding: 0;
    background-color: #90dcff;
}

.room {
    width: auto;
    height: 50px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    list-style: none;
    background-color: #00b7ff;
    cursor: pointer;
}

.room.selected {
    background-color: #0066ff;
    position: relative;
}

.add {
    width: auto;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    cursor: pointer;
    height: 30px;
    background-color: #ff4677;
    font-size: 1em;
}

.add:hover {
    color: #ffffff;
}

.add:active {
    background-color: #fd2a62
}

.room.selected::before{
    content: "";
    border: 5px solid transparent;
    border-right-color: #0066ff;
    position: absolute;
    left: -10px;
    top: 20px;
}

.messageBlock {
    width: 60%;
    height: auto;
    margin: 10px;
    display: flex;
    
}

.messageBlock.self {
    flex-flow: row-reverse;
    align-self: flex-end;
    text-align: right;
}

.message {
    margin: 8px 15px;
    flex: 5;
}

.userName {
    width: 30%;
    flex: 1;
    display: flex;
    font-size: 1.5em;
    color: #0044ff;
}